{
  "env": {
    "production": {
      "presets": ["env", "react", "stage-1"],
      "plugins": ["styled-jsx/babel"]
    },
    "development": {
      "presets": ["env", "react", "stage-1"],
      "plugins": ["styled-jsx/babel"]
    }
  }
}
